.Panel{
   float: left;
   
}
button{
	width: 130px;
	font-size: 0.9em ! important;
}
h3{
	color: #2779aa;
	
}
#announcement-bar{
	text-align: center;
	font-size: larger;
	background-color: azure;
}
.error-announcement{
	color: Red;
}
.info-announcement{
	color: Blue;
}
